<div class="container">

    <div class="title">
        <div class="border">
            <h1>Para obtener mas información pongase en contacto con nuestro personal</h1>

        </div>
        <div>
            Comunicate con nosotros para obtener mayor infocmación sobre uso y nebeficios que ofrece la aplicacion
        </div>
    </div>

    <div class="team">
        <img width="150px" height="150px" src="/assets/icons/team.png" alt="">
        <h2>Comuniquese ahora</h2>
        <h1>3000000000</h1>
        <button> Contactanos</button>
    </div>
</div>