<div class="container">
    <div class="info">
        <h2> SERVICIOS QUE BRINDAMOS</h2>
        <br>
        <h1>LLEVA TU LISTA DE MERCADO A CUALQUIER LUGAR</h1>
    </div>
    <div class="services">
        <app-card-service [img]="img1" [msg]="msg1"></app-card-service>
        <app-card-service [img]="img2" [msg]="msg1"></app-card-service>
        <app-card-service [img]="img3" [msg]="msg1"></app-card-service>
        <app-card-service [img]="img4" [msg]="msg1"></app-card-service>
    </div>
</div>