<div class="container">

    <div class="content">
        <div class="first">
            <div class="logo">
                <img width="90px" src="/assets/logo.png" alt="Home inventory">
                <h1>Home invetory</h1>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquid aut ullam co</p>
            <p>homeinventory@email.com</p>
            <p>+57 **********</p>
        </div>


        <div class="first">
            <h1 class="title">Titulo</h1>
            <p>Nosotros</p>
            <p>Servicios</p>
            <p>Planes</p>
            <p>Contacto</p>
        </div>
        <div class="first">
            <h1 class="title">Información</h1>
            <p>Politicas de privacidad</p>
            <p>Politica de cookies</p>
            <p>Aviso legal</p>

        </div>

    </div>
    <div class="info">
        <div>© 2021 Home Inventory. All Rights reserved</div>
    </div>
</div>