.container {
    display: flex;
    flex-direction: column;
    background-color: #121a2b;
    width: 100%;
    color: #fff;
}

.title {
    padding: 20px 0px 20px 0px;
}

img {
    padding: 10px 0px 10px 0px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 50px;
    margin: 40px 60px 40px 60px;
}

.first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 33.33%;
}

.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:700px) {
    h1 {
        font-size: 20px;
    }
    p {
        font-size: 10px;
    }
    .content {
        gap: 20px;
        flex-wrap: wrap;
    }
    .first {
        max-width: 200px;
    }
    .info {
        font-size: 10px;
    }
}