.container {
    max-width: 100%;
}

.marca {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 100px;
    padding: 10px;
}

h1 {
    color: #121A2b;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.nav {
    height: 100%;
    padding: 10px;
    background-color: #00c39d;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

li {
    list-style-type: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.redes-a {
    color: #00c39d;
    font-size: 20px;
}