<div>
    <div class="marca">

        <div class="logo">
            <img src="assets/logo.png" alt="home inventory">
            <h1>Home Inventory</h1>

        </div>
        <div class="info">
            <ul>
                <li>telefono</li>
                <li>tienda</li>
                <li>horarios</li>
            </ul>
        </div>
        <div class="redes">
            <ul>
                <li>
                    <a class="redes-a" type="button" href=""> <i class="fa fa-facebook "></i> </a>
                </li>
                <li>
                    <a class="redes-a" type="button" href=""> <i class="fa fa-instagram "></i> </a>
                </li>

            </ul>
        </div>


    </div>
    <div class="nav">

        <ul>
            <li><a href="">Inicio</a></li>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Servicios</a></li>
            <li><a href="">Planes</a></li>
            <li><a href="">Contacto</a></li>

        </ul>
    </div>
</div>