<div class="container">
    <div class="content">
        <div class="info">
            <h1>
                <strong class="strong">
                    Realiza tus compras 
                </strong> de la mejor manera con Home Inventory</h1>
            <h3>Compras, calculas, gestionas el inventario y más!</h3>
            <button>Descarga la App</button>
        </div>
        <div class="image">
            <img class="person" src="assets/3d.png" alt="">
        </div>
    </div>
    <img class="background" src="assets/background.jpg" alt="/assets/background.jpg">
</div>