<div class="container">
    <div class="content">
        <div class="info">
            <h1>
                <strong class="strong">
                    Realizaz tus compras 
                </strong> de la mejor manera con Home Inventory</h1>
            <h4>compras, pagos , notas etc</h4>
            <button> Conocenos</button>
        </div>
        <div class="image">
            <img width="450px" src="assets/3d.png" alt="">

        </div>
    </div>



    <img class="background" src="assets/background.jpg" alt="/assets/background.jpg">


</div>