h4 {
    color: #96f1df;
}

.container {
    background-color: #121a2b;
    width: 100%;
    padding-top: 30px;
}

.desc {
    color: #fff;
    text-align: center;
}

.reasons {
    padding: 30px 0px;
    width: 100%;
}

ul {
    display: flex;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

li div {
    background-color: #fff;
    padding: 30px 5px 20px 5px;
}

#text-desc {
    font-size: 25px;
}

.item-preference {
    background-color: #fff;
    border-radius: 20px;
    width: 15vw;
    height: 200px;
    text-align: center;
}

.item-preference i {
    padding-top: 10px;
    ;
    font-size: 30px;
    cursor: pointer;
    color: #00c39d;
}

@media only screen and (max-width:800px) {
    ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
    .item-preference {
        width: 200px;
    }
}