<div class="content">
    <p class="title">Testimonios</p>
    <p class="question">¿Qué dicen nuestros clientes <br> sobre nosotros?</p>

    <div class="content-card">
        <div class="card">
            <div class="client">
                <img class="client-img" src="./assets/clients/image-anne.jpg" alt="">
                <div class="stars">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <h2>María Caro <span class="state"><p>/ Cliente feliz</p></span></h2>
                </div>
            </div>
            <div class="opinion">
                <p>Es una aplicación que me permite gestionar mis compras de supermercado y controlar los productos que tengo en la nevera. Todas las amas de casa deben descargarla porque es muy buena </p>
            </div>
        </div>
        <div class="card">
            <div class="client">
                <img class="client-img" src="./assets/clients/image-colton.jpg" alt="">
                <div class="stars">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <h2>Jhon Doe <span class="state"><p>/ Cliente feliz</p></span></h2>
                </div>
            </div>
            <div class="opinion">
                <p>Cuando mi esposa me mandaba al supermercado olvidaba por completo el total de productos que debía comprar. Por suerte con Home inventory esto ya no sucede </p>
            </div>
        </div>
        <div class="card">
            <div class="client">
                <img class="client-img" src="./assets/clients/image-irene.jpg" alt="">
                <div class="stars">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <img src="./assets/icons/icon-star.svg" alt="star">
                    <h2>Ana Acero <span class="state"><p>/ Cliente feliz</p></span></h2>
                </div>
            </div>
            <div class="opinion">
                <p>La aplicación me permite hacer cálculos para tener presente lo que debo comprar. Ya no tengo que recordar lo que tengo que comprar porque Home inventory lo hace por mí</p>
            </div>
        </div>
    </div>
</div>


