.container {
    display: flex;
    flex-direction: row;
    width: 500px;
    gap: 20px;
    padding: 20px;
    background-color: #fff;
    color: thistle!important;
    box-shadow: 9px 9px 22px -15px rgba(0, 0, 0, 0.75);
    transition: all 1s;
    cursor: pointer;
}

.container:hover {
    background-color: #00c39d;
    color: #fff!important;
}

.container:hover>.info {
    color: #fff!important;
}

.image {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    color: #121a2b;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width:600px) {
    .container {
        width: 300px;
    }
}